* {
  box-sizing: border-box;
}

a, abbr, address, article, aside, audio, b, blockquote, body, canvas, 
caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, 
object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, 
sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
}

article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary {
  display: block;
}

mark {
  background-color: transparent;
}

a, ins, del {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption, th {
  text-align: left;
}

q:after, q:before {
  content: "";
}

table {
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #26C6DA;
}
table tr td.top {
  height: 100px;
  text-align: left;
}

table tr td.top .inner {
  margin: 0 auto;
}

table tr td.top img {
  height: 80px;
  width: auto;
}

table tr td.top img.gdg-logo {
  float: right;
  height: 40px;
  margin: 20px 0px;
}

table tr td {
  text-align: center;
  vertical-align: middle;
}

table tr td.footer {
  height: 100px;
}

table tr td.footer .inner {
  background: #FFFFFF;
  margin: 0 auto;
}

table tr td.footer img {
  height: auto;
  width: auto;
  margin: 0px 15px;
  max-width: 12.5%;
  max-height: 70px;
  vertical-align: middle;
  padding: 15px 10px;
  background: #FFFFFF;
}

table tr td.footer img:first-child {
  margin: 0px 10px 0px 0px;
}

table tr td.footer img:last-child {
  margin: 0px 0px 0px 10px;
}